<!DOCTYPE html>
<html lang="ru" ng-app="amt">
<head>
    <meta charset="UTF-8">
    <title>AMT</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="node_modules/angular/angular.js"></script>

</head>

<body>

<header class="navbar navbar-static-top navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="navbar-brand">AMT</li>
            <li class="active"><a href="index.html"><b>Этап 1</b>: выбор корпуса</a></li>
            <li><a href="stage-2-choose-params.html"><b>Этап 2</b>: задание параметров</a></li>
            <li><a href="stage-3-results.html"><b>Этап 3</b>: получение результатов</a></li>
        </ul>
    </div>
</header>

<div id="view" ng-controller="corpsesCtrl">
    <div class="container">
        <ul class="list-inline">
            <li ng-repeat="corpse in corpses">
                <div class="thumbnail">
                    <img ng-src="{{corpse.imgSrc}}">
                    <div class="caption">
                        <h3>{{corpse.title}}</h3>
                        <p>{{corpse.desc}}</p>
                        <p>
                            <a href="#" class="btn btn-primary" ng-click="chooseCorpse()">Выбрать</a>
                            <a href="#" class="btn btn-default">Отмена</a>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <button class="btn btn-default">Задать параметры</button>
    </div>
</div>

<div id="help">
    <div class="container">
        <blockquote>
            <p>На данном этапе производится выбор типа корпуса для исследования.</p>
        </blockquote>
    </div>
</div>

<!-- Loading app -->
<script src="app/amtApp.js"></script>
<script src="app/amtCorpsesCtrl.js"></script>

<!---->
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>