img {
    width: 250px;
}

.input-group-addon i {
    font-family: "Times New Roman", sans-serif;
}

div.input-group {
    margin-bottom: 7px;
}

:focus {
    outline: none;
}

#view li {
    max-width: 300px;
    min-width: 290px;
    width: 100%;
}

#help {
    margin: 30px 0;
}