.viewport {
    padding: 10px 30px;
}

p {
    word-wrap: break-word;
}

a:link,
a:hover,
a:active,
a:visited {
    color: #fff;
}

canvas {
    width: 100%;
    height: 100%
}

.interactiveScene {
    padding: 10px;
    border-left: 1px solid #ccc;
}